<div class="home-panel">
  <div class="flex align-items-baseline">
    <img class="mr-2 mt-2" src="/assets/img/logo.png" alt="Money Journey" width="48px" height="48px" />
    <h1 class="text-5xl text-teal-800">Money Journey</h1>
  </div>
  <div class="flex gap-3">
    <button
      pButton
      type="button"
      label="สรุปผล"
      icon="pi pi-chart-pie"
      class="p-button-lg p-button-warning align-items-end"
      (click)="onOpenPage('summary')"
    ></button>
    <button
      pButton
      type="button"
      label="เพิ่มรายการ"
      icon="pi pi-plus-circle"
      class="p-button-lg align-items-end"
      (click)="onOpenPage('order')"
    ></button>
  </div>
  <div>
    <h2>รายการบันทึกล่าสุด</h2>
    <div class="order-list">
      <div class="flex justify-content-between">
        <h3 class="date-text">วันจันทร์ ที่ 01/11/2022</h3>
        <h3>100B</h3>
      </div>
      <div class="flex align-items-center justify-content-between">
        <div class="flex align-items-center pl-2">
          <i class="pi pi-apple"></i>
          <p>ข้าวมันไก่</p>
        </div>
        <span>100 B</span>
      </div>
      <div class="flex align-items-center justify-content-between">
        <div class="flex align-items-center pl-2">
          <i class="pi pi-apple"></i>
          <p>ข้าวมันไก่</p>
        </div>
        <span>100 B</span>
      </div>
      <div class="flex align-items-center justify-content-between">
        <div class="flex align-items-center pl-2">
          <i class="pi pi-apple"></i>
          <p>ข้าวมันไก่</p>
        </div>
        <span>100 B</span>
      </div>
    </div>
    <div class="order-list">
      <div class="flex justify-content-between">
        <h3>วันจันทร์ ที่ 01/11/2022</h3>
        <h3>100B</h3>
      </div>
      <div class="flex align-items-center justify-content-between">
        <div class="flex align-items-center pl-2">
          <i class="pi pi-apple"></i>
          <p>ข้าวมันไก่</p>
        </div>
        <span>100 B</span>
      </div>
      <div class="flex align-items-center justify-content-between">
        <div class="flex align-items-center pl-2">
          <i class="pi pi-apple"></i>
          <p>ข้าวมันไก่</p>
        </div>
        <span>100 B</span>
      </div>
      <div class="flex align-items-center justify-content-between">
        <div class="flex align-items-center pl-2">
          <i class="pi pi-apple"></i>
          <p>ข้าวมันไก่</p>
        </div>
        <span>100 B</span>
      </div>
    </div>
    <div class="order-list">
      <div class="flex justify-content-between">
        <h3>วันจันทร์ ที่ 01/11/2022</h3>
        <h3>100B</h3>
      </div>
      <div class="flex align-items-center justify-content-between">
        <div class="flex align-items-center pl-2">
          <i class="pi pi-apple"></i>
          <p>ข้าวมันไก่</p>
        </div>
        <span>100 B</span>
      </div>
      <div class="flex align-items-center justify-content-between">
        <div class="flex align-items-center pl-2">
          <i class="pi pi-apple"></i>
          <p>ข้าวมันไก่</p>
        </div>
        <span>100 B</span>
      </div>
      <div class="flex align-items-center justify-content-between">
        <div class="flex align-items-center pl-2">
          <i class="pi pi-apple"></i>
          <p>ข้าวมันไก่</p>
        </div>
        <span>100 B</span>
      </div>
    </div>
  </div>
</div>
