<div class="container relative w-screen h-screen">
  <div class="flex border-round-3xl big-card lg:vertical-center">
    <section class="main md:border-round-left-3xl p-4 bg-teal-50">
      <app-home (openPageEmitter)="onOpenPage($event)"></app-home>
    </section>
    <section
      *ngIf="isShowOrderPage"
      class="side border-round-top-3xl sm:border-noround-left p-4 bg-white"
      [ngClass]="{ active: true }"
    >
      <app-order (closePageEmitter)="onClosePage($event)"></app-order>
    </section>
  </div>
</div>
